@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,600&family=Roboto+Slab:wght@100;300;400;500;600;700&display=swap');

:root {
    --font-roboto-slab: 'Roboto Slab', serif;
    --font-opens-sans: 'Open Sans', sans-serif;
    --color-black: #3d4449;
    --color-grey: #7f888f;
    --color-red: #f56a6a;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    font-size: 62.5%;
}

.primary_container {
    display: flex;
    width: 100%;
    position: relative;
}

/* ****ASIDE*** */
.menu_left {
    display: none;
    flex-direction: column;
    width: 30%;
    transition: transform .3s;
    background-color: #f5f6f7;
    padding: 0 2rem 0 2rem;
    height: 100%;
    position: sticky;
    left: 0;
    top: 0;

}

.show {
    display: flex;
}

.seach_container {
    display: flex;
    align-items: center;
    width: 100%;
    height: 6rem;
    background-color: #eff1f2;
    margin-bottom: 3rem;
}

.seach_input {
    display: flex;
    align-items: center;
    width: 90%;
    height: 3.5rem;
    border: none;
    outline: none;
    border-radius: .4rem;
    padding-left: 1rem;
    border: .1rem solid #7f888f3d;
}

.seach_input::placeholder {
    color: var(--color-grey);
}

.seach_input:focus {
    border: .2rem solid orangered;
}




/* ****UL MENU LEFT* */
.menu_ul_left {
    width: 100%;

}

.menu_ul_left h2 {
    font-size: 1.6rem;
    font-family: var(--font-roboto-slab);
    color: var(--color-black);
    border-bottom: .4rem solid var(--color-red);
    padding: 0.5rem 0;
    width: 20%;
    margin-bottom: 4rem;
}



/* ******menu***** */
.menu_links {
    width: 100%;
}

.menu_links li {
    display: flex;

    width: 100%;
    border-bottom: .1rem solid #7f888f3d;
    margin: 2rem 0;
    padding: 0rem 0 1.1rem 0;

}

.menu_links a {
    text-decoration: none;
    color: var(--color-black);
    font-size: 1.11rem;
    font-family: var(--font-roboto-slab);
    font-weight: 400;
    transition: .2s;
}

.menu_links a:hover {
    color: var(--color-red);
}

/* ****MENU INFO*** */
.info_menu {
    width: 100%;
}

.info_menu h2 {
    font-family: var(--font-roboto-slab);
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-black);

}

.info_card {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1.5rem;
    border-bottom: .1rem solid #7f888f3d;
    padding: 2rem 0;
}

.info_card:nth-child(4) {
    padding: 2rem 0 6rem 0;
}

.info_card:nth-child(4) p {
    padding: 0 0 1rem 0;
}


.info_card_image {
    width: 90%;
    overflow: hidden;
    border-radius: .5rem;


}

.info_card_image img {
    width: 100%;
}

.info_card_image img:hover {
    transform: scale(1.1, 1.1);
}

.info_card p {
    font-family: var(--font-opens-sans);
    font-weight: 300;
    font-size: 1.3rem;
    color: var(--color-grey);
}

/* *****CONTACT INFO*** */
.contact_info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.contact_info h2 {
    font-size: 1.6rem;
    font-weight: 600;
    width: 40%;
    font-family: var(--font-roboto-slab);
    color: var(--color-black);
    padding: 2rem 0 .5rem 0;
    border-bottom: .4rem solid var(--color-red);
}

.contact_info p {
    font-family: var(--font-opens-sans);
    font-weight: 300;
    font-size: 1.3rem;
    color: var(--color-grey);
    padding: 1rem 0 2rem 0;
}

.contact_info_ul {
    display: flex;
    flex-direction: column;

}

.contact_info_ul li {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    padding: 2rem 0;
    border-bottom: .1rem solid #7f888f3d;
}

.contact_info_ul a {
    text-decoration: dashed black;
    font-family: var(--font-opens-sans);
    font-weight: 500;
    color: var(--color-grey);
    font-size: 1.3rem;

}

.icon_contact_left {
    font-size: 2rem;
    color: var(--color-red);
}


/* ****CONTENEDOR TOTAL */
.general_conteiner {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;

}

.cointainer_header {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-self: center; */
    max-width: 1440px;
}

.logo_menu {
    margin: 2rem 0 0 2rem;
    align-self: flex-start;

}

.fa-bars {
    font-size: 2.3rem;
    color: var(--color-red);
}

/* ***NAVBARR** */
.navbar {
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    align-items: center;
    border-bottom: 4px solid #f56a6a;
    width: 90%;
    padding: 1rem 0rem 1.5rem 0rem;
}

.link_text_nav {
    text-decoration: none;
    font-family: var(--font-roboto-slab);
    color: var(--color-grey);
    font-size: 1.5rem;
}

.link_text_nav span {
    color: var(--color-black);
    font-size: 1.6rem;
    font-weight: 500;
}

.social_links_container {
    display: flex;
    /* width: 40%; */
    justify-content: flex-end;
    gap: 1.5rem;
}

.social_links_container li {
    list-style: none;
}

.link_social {
    text-decoration: none;
}

.icon_social {
    color: var(--color-grey);
    font-size: 1.6rem;
}

.icon_social:hover {
    color: var(--color-red);
    transition: 0.2s;
}

/* ***CONENIDOS DEL HEADER */
.content_header {
    display: flex;
    width: 100%;
    /* border-bottom: .1rem solid var(--color-grey); */
    padding: 6rem 6rem 8rem 6rem;



}

/* ***TEXTOS DEL HEADER**** */
.header_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    width: 100%;
}

.header_text h1 {
    font-family: var(--font-roboto-slab);
    font-weight: 600;
    font-size: 4.8rem;
    color: var(--color-black);
    width: 90%;
    align-self: flex-start;
}

.header_text h2 {
    font-family: var(--font-roboto-slab);
    text-transform: uppercase;
    color: var(--color-grey);
    font-size: 1.5rem;
    align-self: flex-start;
    font-weight: 400;
}

.header_text p {
    font-family: var(--font-opens-sans);
    color: var(--color-grey);
    font-size: 1.43rem;
    font-weight: 400;
    width: 90%;
    height: 25%;
    align-self: flex-start;
    margin: 0 0 2rem 0;

}


/* ***IMG DEL HEADER*** */
.image_header {
    display: flex;
    width: 90%;
    border-radius: 0.5rem;
    overflow: hidden;
}

.image_header img {
    width: 100%;
    /* border-radius: 0.5rem; */
}

/* ****BOTON HEADER**** */
.btn {
    background-color: #ffffff;
    color: var(--color-red);
    border: 2px solid var(--color-red);
    font-family: var(--font-roboto-slab);
    padding: 0.8rem 2rem;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0.5rem;
    text-decoration: none;
    align-self: flex-start;
    transition: 0.3s;
}

.btn:hover {
    background-color: #f56a6a18;

}

.line {
    width: 90%;
    height: .1rem;
    background-color: #7f888f91;
}

/* ***Mainn*** */
.container_main {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5rem 6rem 5rem 6rem;
    max-width: 1440px;
}

.container_main h2 {
    text-align: left;
    font-family: var(--font-roboto-slab);
    font-size: 2.2rem;
    font-weight: 500;
    color: var(--color-black);
    border-bottom: 4px solid var(--color-red);
    align-self: flex-start;
    width: 13%;
    padding: 0 0 1rem 0;
}

/* *******SECTION HERO 1**** */
.hero_1 {
    display: flex;
    padding: 3rem 0 0 0;
    width: 100%;
    /* border: 2px solid blue; */
    flex-wrap: wrap;
    /* height: 100vh; */
    border-bottom: .1rem solid #7f888f;
}

/* *******CARD**** */
.card_hero_1 {
    display: flex;
    width: 50%;
    height: 20rem;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;
    /* border: 2px solid red; */
}

/* ***ICONO DE LA CARD*** */
.card_hero_1 span {
    font-size: 3rem;
}

.icon_card {
    font-size: 5.5rem;
    color: var(--color-red);
}

/* *****TEXTOS DE LA CARD */
.text_card {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 80%;
}

.text_card h3 {
    font-family: var(--font-roboto-slab);
    color: var(--color-black);
    font-size: 1.8rem;
    font-weight: 600;
}

.text_card p {
    font-family: var(--font-opens-sans);
    color: var(--color-grey);
    font-size: 1.4rem;
    font-weight: 400;
    width: 90%;

}


/* ***HERO 2*** */
.hero_2 {
    width: 100%;
    padding: 8rem 0 0 0;

}

.hero_2 h2 {
    width: 20%;
    font-size: 2.3rem;
    font-weight: 800;
}

.images_card_container {
    display: flex;
    flex-wrap: wrap;

}

.image_card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    gap: 2rem;
    /* border-right: .1rem solid var(--color-grey);
    border-bottom: .1rem solid var(--color-grey); */
    /* padding: 3rem 2rem 4rem 3rem; */
    padding: 3rem 0rem 4rem 0rem;
    position: relative;
}



/* .image_card:before {
    background: rgba(210, 215, 217, 0.75);
    content: '';
    display: flex;
    height: (100%);
    left: 1rem;
    position: absolute;
    top: 3rem;
    width: 2px;
}


.image_card:after {
    background: rgba(210, 215, 217, 0.75);
    bottom: -1rem;
    content: '';
    display: block;
    height: 1px;
    position: absolute;
    right: 0;
    width: (100%);
} */
.card_img {
    width: 90%;
    overflow: hidden;

    border-radius: .5rem;

}

.card_img img {
    width: 100%;
    /* border-radius: .5rem; */
    overflow: hidden;
}

.card_img img:hover {
    /* border-radius: .5rem; */
    transform: scale(1.1, 1.1);
    transition: transform 0.2s ease;
}

.image_card h3 {
    font-size: 1.8rem;
    color: var(--color-black);
    font-family: var(--font-roboto-slab);

}

.image_card p {
    font-family: var(--font-opens-sans);
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--color-grey);
    width: 90%;
}